body{
    background-color: rgb(219, 207, 234);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a{
    color: #edd2f6;
}
.container{
    margin: 120px auto;
    max-width: 600px;
}

Header{
    margin-bottom: 30px;
}

h1{
    color:rgb(47, 30, 30);
    font-weight: 880;
    font-size: 36px;
    line-height: 1.5;
    text-align: center;  
}

form{
    padding: 30px;
    background-color: rgb(90, 85, 85);
    border: none;
    border-radius: 10px;
    display: flex;
}

footer{
    text-align: center;
    font-size: 13px;
    margin: top 30px;
}


.instructions{
   
    border: none;
    border-radius: 20px;
    color:rgb(58, 53, 53);
    font-size: 16px;
    line-height: 20px;
    padding: 16px;
    width: 80%;
}

.poem{
    background-color: rgb(239, 235, 235);
    border-left: 3px solid rgb(58, 53, 53) ;
    box-shadow: 0px 20px 60px rgb(58, 53, 53);
    font-size:  16px;
    line-height: 2;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.poem strong{
    color: #af15e2;
}

.submit-button{
    border:none;
    border-radius: 10px;
    background: #edd2f6;
    color: rgb(122, 103, 103);
    font-size: 16px;
    margin-left: 10px;
    padding: 14px 24px;
    width: 150px;

}


